body{
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
}

.half-width{
    width: 50%;
    padding:5%;
    
}
.half-width img{
    width:100%;
}
.flexible{
    display: flex;
}
.bg-banner{
    background-image: url(image/floral.png);
    background-repeat: no-repeat;
}

span{
    color: blue;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.button{
    background-color:rgb(10, 10, 175);
    border-radius: 5px;
    font-weight: 700;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}
.bg-bt-lef{
    background-image: url(image/images.jpg);
    background-repeat: no-repeat;
    background-position:right bottom;
}
.experi{
    background-position: left;
}
.experi-item{
    width: 40%;
    margin-right: 10px;
    margin-left: 10px;
    padding-left:30px;
    box-shadow: 10px 10px 40px gray;
}
.alin{
    text-align: center;
}